*.swp
.DS_Store
*.tmproj
._*.*
._*
*~

*.xcworkspace
xcuserdata
openframeworks/wiretouch_monitor/bin/**
openframeworks/wiretouch_monitor/bin/data/GUI/guiSettings.xml
!data/
settings.json

*.b#*
*.s#*
